/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

  body{
		border:2px double ;
    border-color:  #f7c3cf;
		padding-bottom: 30px;
		margin-bottom: 60px;
		margin-left: 90px;
		margin-right: 90px;
		margin-top: 4%;
}

header h1 {
margin: 25px 130px ;
padding: 0 ;
background:#f09bab;
border-bottom: 25px solid  #f09bab;
border-top: 25px solid  #f09bab;

}

header{
	font-size: 35px;
	text-align: center;
	position: relative;
	width: 100%;
}

#header{
	height: 165px;
	font-family: tahoma;
	text-align: center;
	float: right;
  margin:0;
	}

	h1{
		color: #FBEFF5;
		padding-top: 5px;
		padding-bottom:5px;
		font-family: Arial Narrow, sans-serif;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
	}

	body nav {
padding-left:200px;
font-family: Arial Narrow, sans-serif;
color: grey;

	}

h2{
	color:#FA5882;
	font-family:Arial Narrow, sans-serif;
	font-weight: 200;
font-size: 30px;
padding-top: 20px;
padding-bottom: 55px;
padding-left: 10%;
padding-right: 60px;

}

#tof2{

	padding-left: 12%;
}

 #Global #gauche {
	 padding-top: 15px;
 	padding-bottom: 20px;
 	padding-right: 2px;
	margin-right: 30px;
 	  padding-left:50px;
     margin-left:18%;
		   float:left;
 	 border-style:dashed ;
 	 border-color:#FA5882;
 	 font-size:30px;
 	 color:#FA5882;
 	 font-family:Arial Narrow, sans-serif;
 	 font-weight: 200;
}
#Global #droite {
	padding-top: 15px;
	padding-bottom: 20px;
	padding-right: 0px;
	  padding-left:40px;
    margin-left:62%;
	 font-size:30px;
	 color:#FA5882;
	 font-family:Arial Narrow, sans-serif;
	 font-weight: 200;
}

#gauches {
	padding-left:90px;
	padding-bottom: 40px;
	 float:left;
   width:50%;
	 color: grey;

}
#droites {
color: grey;
	 padding-right: 40px;
}

#tof {
padding-left: 25%;
padding-top: 50px;
}
#tof li{
	display: inline;
	padding : 40px;
}

h3{
	color:#FA5882;
	font-family:Arial Narrow, sans-serif;
	font-weight: 200;
text-align: center;font-size: 32px;
padding-top: 50px;
padding-right: 40px;
}

 #Global2 #gauche {
	 padding-top: 15px;
	padding-bottom: 20px;
	padding-right: 20px;
	margin-right: 50px;
		padding-left:60px;
		 margin-left:0%;
			 float:left;
	 font-size:30px;
	 color:#FA5882;
	 font-family:Arial Narrow, sans-serif;
	 font-weight: 200;
}
#Global2 #droite {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 0px;
		padding-left:40px;
		margin-left:62%;
	 font-size:30px;
	 color:#FA5882;
	 font-family:Arial Narrow, sans-serif;
	 font-weight: 200;
}
